#comstom
data/
publish/
.vscode/

# Log file
*.log

# Bakup
*.bak
*.gho
*.ori
*.orig
*.tmp

# IntelliJ IDEA project files and directories
*.iml
*.ipr
*.iws
.idea/

# python
__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/